<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSRF</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">

</head>
<body>
<div class="container">


    <div class="row align-items-center vp-max">

            <div class=" card content-box border-0 p-5 m-0">

                <table class="table" style="max-height: 400px;">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Account</th>
                        <th scope="col">Points</th>
                        <th scope="col">Last Exec</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for a in accounts %}
                    <tr>
                        <th scope="row">{{a.id}}</th>
                        <td>{{a.email}}</td>
                        <td>{{a.points}}</td>
                        <td>{{a.lastExec | strftime}}</td>
                        <td>
                            {% if a.id | string in active_threads %}
                                <a href="" class="btn btn-danger disabled btn-sm btnclr text-center border-0">Running...</a>
                            {% endif %}
                            {% if a.id | string not in active_threads %}
                                <a href="/exec_single_account/{{a.id}}" class="btn btn-primary btn-sm btnclr text-center border-0">Run</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>


            </div>


    </div>
</div>

<div class="code fixed-bottom w-100 row" id="">
    <div class="col" id="log_display">

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/index.js"></script>
</body>


</html>